<ion-title [ngClass]="{'hidden': !hideSearchBar}" (click)="titleClicked()" tappable>
  Fuego
</ion-title>
<div [ngClass]="{'hidden': !hideSearchBar}" class="nav-icons">
  <a (click)="setMapRoot()" class="nav-icon map">
    <div class="svg-wrapper" [innerHtml]="mapSvg" [ngClass]="{'active': activePageName == 'MapPage'}" tappable></div>
    <span [ngClass]="{'active': activePageName == 'MapPage'}" class="nav-title" tappable>Map</span>
  </a>
  <a (click)="setTrendingRoot()" class="nav-icon trending">
    <div class="svg-wrapper" [innerHtml]="trendingSvg" [ngClass]="{'active': activePageName == 'TrendingPage'}" tappable></div>
    <span [ngClass]="{'active': activePageName == 'TrendingPage'}" class="nav-title" tappable>Trending</span>
  </a>
  <a (click)="setBrowseRoot()" class="nav-icon browse">
    <div class="svg-wrapper" [innerHtml]="browseSvg" [ngClass]="{'active': activePageName == 'BrowsePage'}" tappable></div>
    <span [ngClass]="{'active': activePageName == 'BrowsePage'}" class="nav-title" tappable>Near By</span>
  </a>
  <a (click)="onSearch()" [ngClass]="{'hidden': activePageName == 'SpecialsPage'}" class="nav-icon search">
    <div class="svg-wrapper"></div>
  </a>
</div>
<ion-searchbar #searchbar [ngClass]="{'zerowidth': hideSearchBar}" placeholder="Search For Specials" [(ngModel)]="searchTerm" 
  showCancelButton="true" (search)="onSearchInput($event)" (ionCancel)="onSearchCancel()">
</ion-searchbar>
