f-header {
    position: absolute;
    width: 100%;
    height: 100%;

    ion-title {
        text-align: center;
        width: 45%;
        height: 93%;
        position: absolute;
        padding-bottom: 4px;
        top: 8px;

        div.toolbar-title {
            font-family: Galada;
            font-size: 24px;
            color: color($colors, palletPrimary) !important;
        }
    }

    div.nav-icons {
        height: 100%;
        position: absolute;
        width: 55%;
        right: 5px;
        top: 4px;

        a.nav-icon {
            width: 25%;
            position: relative;
            display: block;
            height: 75%;
            clear: right;
            float: left;
            text-align: center;
        }

        a.nav-icon.search {
            margin-top: 8px;
            padding-left: 10px;

            div {
                background: url('../assets/images/icons/nav/spyglass.svg') no-repeat;
            }
        }

        .svg-wrapper {
            height: 68%;
            display: block;
            margin: 0 auto;
        }
        
        .nav-icon svg {
            height: 100%;
            display: block;
            margin: 0 auto;
            fill: #ada8a8;
            stroke: #ada8a8;
        }

        .svg-wrapper.active svg {
            fill: color($colors, palletPrimary);
            stroke: color($colors, palletPrimary);
        }
        
        .nav-icon span.nav-title {
            width: 100%;
            font-size: 10px;
            font-family: Work;
            color: #ada8a8;
        }

        .nav-icon span.nav-title.active {
            color: color($colors, palletPrimary);
        }
    }

    ion-searchbar {
        position: absolute;
        width: 100%;
        right: 0;
        -webkit-transition:width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
        -moz-transition:width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
        -ms-transition:width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
        -o-transition:width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
        transition:width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.25s;
        
        .searchbar-input {
            color: color($colors, dark);
            font-family: Work;
        }
        
        .searchbar-input::placeholder {
            color: color($colors, darkGray);
            opacity: 1;
        }
    }
    
    .back-button.show-back-button {
        position: absolute;
        z-index: 2;
    }

    .hidden {
        display: none !important;
    }

    .zerowidth {
        width: 0px !important;
        right: -50% !important;
    }
}

.platform-android {
    f-header {
        ion-header .toolbar {
            opacity: .95;
        }

        .searchbar {
            .searchbar-input {
                -webkit-box-shadow: none;
                box-shadow: none;
            }
        }
    }
}

.platform-ios {

    f-header {

        .toolbar-title {
            height: 100%;
            position:absolute;
            left: 0px;
            width: 45%;
        }

        .nav-icons {
            .nav-icon {
                height: 65% !important;
            }
        }

        .svg-wrapper {
            height: 60%;
        }

        ion-searchbar {
            padding: 0 0 0 8px;

            .searchbar-input-container {
                padding-right: 8px;
            }
        }

        ion-searchbar.searchbar-has-focus {
            .searchbar-input-container {
                padding-right: 0px;
            }
        }

        .searchbar-ios-cancel {
            padding-right: 8px !important;
            color: color($colors, darkGray) !important;
        }
    }

}