
@import "../../../theme/variables";

page-trending {

    ion-content.trending-container > div.scroll-content {
        margin-bottom: 0px;
        overflow: hidden;
    }

    ion-content.list-scrolling-content > div.scroll-content {
        padding-bottom: 55%;
    }

    .slides {
        height: 200px;
    }
    
    ion-slide {
        background-size: cover;
    }
    
    .carousel {
        width: 100%;
    }
    
    .swiper-pagination-bullet {
        background: #a5a5a5;
        opacity: 0.9;
    }
    
    .swiper-pagination-bullet-active {
        background: color($colors, palletPrimary);
        opacity: 1;
    }

    .section-header.light-item {
        text-align: center;
        font-size: 20px;
    }
    
    ion-title {
        text-align: center;
    }

    ion-card {

        width: 100% !important;
        margin: 0 !important;
        border-radius: 0px !important;

        ion-slides {
            
            .swiper-pagination {
                display: none;
            }

            .ad {
                right: 13px;
                top: 5%;
                padding: 3px;
                border-radius: 15%;
                background-color: color($colors, accentPrimary);
                color: color($colors, offWhite);
                position: absolute;
                font-size: 12px;
                font-weight: bolder;
            }
            
            .details {
                bottom: 0;
                position: absolute;
                width: 100%;
                text-align: unset;
                height: 30%;
                background: linear-gradient(transparent, #000);
                color: color($colors, offWhite);
                font-weight: bolder;

                .restaurant-name, .menu-item-name, .price {
                    position: absolute;
                }

                .menu-item-name, .price {
                    font-size: 14px;
                    white-space: nowrap; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                /* Carousel restaurant name*/
                .restaurant-name {
                    left: 13px;
                    font-size: 28px;
                    font-family: Work-Black;
                    letter-spacing: 1px;
                    bottom: 26px;
                }

                .menu-item-name {
                    left: 15px;
                    top: 54%;
                    float: left;
                    font-family: Work-Light;
                    font-size: 12px; 
                }
            }
        }
    }

    div.list-header {
        font-family: Work-ExtraBold;
        font-size: 2.2rem;
        text-align: center;
        padding: 13px;
        color: color($colors, accentPrimary);
    }

    div.list-header span {
        display: inline-block;
        position: relative;
        padding-top: 5px;
    }

    div.list {

        ion-card.special-card {
            width: 42% !important;
            float: left;
            border-radius: 5px !important;
            margin: 3% 1% 4% 5% !important;
            background-color: color($colors, leastOffWhite);
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.14),
                        0px 1px 1px 2px rgba(0, 0, 0, 0.05),
                        0px 1px 0px 0px rgba(0, 0, 0, 0.12) !important;

            div.special {
                position: relative;

                &:active {
                    background-color: color($colors, offWhite);
                }
                
                .special-img {
                    display: block;
                    width: 100%;
                    padding: 0 25%;
                    content: url('../assets/images/icons/item/burger.svg');
                }

                .special-content {
                    padding: 12px;
                    border-top: 1px solid color($colors, moreOffWhite);
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                ion-label {
                    margin: 8px 8px 8px 0;
                }

                .item-name {
                    font-family: Work-Semi;
                    color: color($colors, darkGray);
                    font-size: 1.5rem;
                    padding: 2px 0;
                    white-space: nowrap;
                }
        
                .price {
                    font-family: Work;
                    font-size: 1.5rem;
                    display: block;
                    padding: 2px 0;
                }
        
                .restaurant-name {
                    display: block;
                    font-size: 1.2rem;
                    font-family: Work-Bold;
                    color: color($colors, accentPrimary);
                    padding: 2px 0;
                }
            }
        }
    }

    .loading-noms {
        height: 50%;
        width: 100%;
        text-align: center;
        top: 48%;
        position: absolute;
        color: gray;
        font-size: 20px;
        font-weight:  bolder;
    }
}

.platform-ios {
    ion-header {
        padding-top: 5px !important;
        background-color: color($colors, offWhite);
    }
}

.platform-android {
    div.list {
        div.special {
            .item-name {
                font-size: 15px;
            }

            .price {
                font-size: 14px;
            }

            .restaurant-name {
                font-size: 12px;
            }
        }
    }
}