<ion-header>
    <ion-navbar color="offWhite">
        <f-header></f-header>
    </ion-navbar>
</ion-header>

<ion-content class="trending-container outer-content">
    <ng-container *ngIf="trending$ | async; let trending; else loading">
        <ion-card>
            <ion-slides autoplay="3000" paginationType="fraction" pager="true" loop="true">
                <ng-container *ngFor="let slide of trending.carouselItems">
                    <ion-slide [ngStyle]="{'background-image': 'url(' + (slide.image != ''  ? slide.image : 'assets/images/banners/default.jpg') + ')'}" (click)="toGoRestaurant(slide.restaurant_id)">
                        <ng-container *ngIf="slide.ad == true">
                            <div class="ad">
                                <span>Ad</span>
                            </div>
                        </ng-container>
                        <div class="details">
                            <span class="restaurant-name">{{slide.restaurant_name}}</span>
                            <span class="menu-item-name">
                                {{slide.menu_item_name}}
                                <span class="middot">&#8226;</span>
                                {{slide.price}}
                            </span>
                        </div>
                    </ion-slide>
                </ng-container>
            </ion-slides>
        </ion-card>
        <ion-content class="list-scrolling-content">
            <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content></ion-refresher-content>
            </ion-refresher>
            <div class="list-container" *ngFor="let list of trending.lists">
                <div class="list-header">
                    <span>
                        {{list.header}}
                    </span>
                </div>
                <div class="list">
                    <ng-container *ngFor="let item of list.listItems; let odd = odd">
                        <ion-card class="special-card">
                            <div class="special" (click)="toGoRestaurant(item.restaurant_id)">
                                <span class="special-img"></span>
                                <div class="special-content">
                                    <span class="restaurant-name">
                                        {{item.restaurant_name}}
                                    </span>
                                    <span class="item-name">
                                        {{item.menu_item_name}}
                                    </span>
                                    <span class="price">
                                        {{item.price}}
                                    </span>
                                </div>
                            </div>
                        </ion-card>
                    </ng-container>
                </div>
            </div>
        </ion-content>
    </ng-container>
    <ng-template #loading><div class="loading-noms">Loading Noms...</div></ng-template>
</ion-content>
