<ion-tabs #myTabs selectedIndex="1">
  <ion-tab [root]="map" tabTitle="Map" tabIcon="map"></ion-tab>
  <ion-tab [root]="trending" tabTitle="Trending" tabIcon="trendingicon"></ion-tab>
  <ion-tab [root]="browse" tabTitle="Near By" tabIcon="pizza"></ion-tab>
  <ion-tab [root]="search" tabTitle="Search" tabIcon="search"></ion-tab>
</ion-tabs>
