<ion-header no-border>
  <ion-navbar color="offWhite">
      <f-header></f-header>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content">
  <!-- <ng-container *ngIf="restaurant$ | async; let r; else loadingResaurant"> -->
    <ion-card class="restaurant-name-card">
      <ng-container *ngIf="restaurant$ | async; let r; else loadimage">
        <ng-container *ngIf="r.name.indexOf('Timeout') == -1; else imagetimeout">
          <div class="restaurant-header" [ngStyle]="{'background-image': 'url(' + (r.banner_image != ''  ? r.banner_image : 'assets/images/banners/default.jpg') + ')'}">
            <div class="restaurant-name">{{r.name}}</div>
            <div class="restaurant-desc">{{r.description}}</div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #loadimage>
        <div class="restaurant-header" style="background-image: url('assets/images/banners/default.jpg')">
          <div class="restaurant-name">Loading...</div>
        </div>
      </ng-template>
      <ng-template #imagetimeout>
        <div class="restaurant-header" style="background-image: url('assets/images/banners/default.jpg')">
          <div class="restaurant-name"></div>
        </div>
      </ng-template>
      <div class="action-buttons item item-input-inset">
        <a href="#" (click)="dirs()" class="">
          <ion-icon class="btn-icon" name="navigate"></ion-icon>
          <span class="tab-text">Directions</span>
        </a>
        <a href="#" (click)="tele(r.phone)" class="">
          <ion-icon class="btn-icon" name="call"></ion-icon>
          <span class="tab-text">Call</span>
        </a>
        <a href="#" (click)="openMenuFile()" class="">
          <ion-icon class="btn-icon" name="list-box"></ion-icon>
          <span class="tab-text">Menu</span>
        </a>
        <a href="#" (click)="site(r.id, r.website)" class="">
            <ion-icon class="btn-icon" name="browsers"></ion-icon>
            <span class="tab-text">Website</span>
        </a>
      </div>
      <div class="menus">
        <ng-container *ngIf="restaurant$ | async; let r; else noitems">
          <ng-container *ngIf="r.name.indexOf('Timeout') == -1; else itemstimout">
            <ng-container *ngIf="r.menus && r.menus.length > 0; else noitems">
              <ion-item-group *ngFor="let menu of r.menus; let i = index;">
                <div class="list-header">
                    <span>
                        {{menu.title}}
                    </span>
                </div>
                <ng-container *ngFor="let item of menu.items; let odd=odd">
                  <ion-item>
                    <div class="special">
                      <div class="special-content">
                        <div class="item-container">
                          <span class="item-name">
                              {{item.title}}
                          </span>
                        </div>                    
                        <span class="middot">&#8226;</span>
                        <span class="price">
                            {{item.price}}
                        </span>
                      </div>
                    </div>
                  </ion-item>
                </ng-container>
              </ion-item-group>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-template #noitems>
          <div class="no-specials-container">
            <span>No Specials</span>
            <span>To Display</span>
          </div>
        </ng-template>
        <ng-template #itemstimout>
          <div class="no-results-container">
            <span>We had an issue</span>
            <span>hacking the mainframe</span>
            <span>Please try again</span>
            <ion-icon name="sad"></ion-icon>
          </div>
        </ng-template>
      </div>
    </ion-card>
  <!-- </ng-container> -->
  <ng-template #loadingResaurant>
    <ng-container *ngIf="loading | async; let loading; else noresults">
      <ng-container *ngIf="loading">
          <ion-spinner  name="dots"></ion-spinner>
      </ng-container>
    </ng-container>
    <ng-template #noresults>
      <div class="no-results-container">
          <span>We had an issue</span>
          <span>hacking the mainframe</span>
          <ion-icon name="sad"></ion-icon>
      </div>
    </ng-template>
  </ng-template>
</ion-content>
