@import "../../../theme/variables";

page-restaurant {

    ion-card.restaurant-name-card {
        position: absolute;
        margin: 0 !important;
        padding: 0;
        background: color($colors, lessOffWhite) !important;
        border-radius: 0px !important;
        width: calc(100% - 10px);

        .restaurant-name {
            text-align: center;
            color: color($colors, lessOffWhite);
            font-size: 18px;
            font-family: Work-Bold;
        }
    }

    ion-card {
        min-height: 100%;
        width: 100% !important;
        margin: 0 !important;
        border-radius: 0px !important;
        width: 100% !important;
        padding: 2px 0;

        .restaurant-description {
            text-align: center;
            color: color($colors, darkGray);
            font-size: 12px;
            margin-top: 3px;
            font-family: Work-Light;
        }
    }

    .restaurant-header {
        height: 175px;
        background-size: cover;
        position: relative;

        .restaurant-name {
            padding: 3px 0;
            margin: 0;
            border-radius: 0 0 5px 5px;
            text-align: center;
            font-family: Work-Bold;
            font-size: 20px;
            letter-spacing: 1px;
            background: linear-gradient(#aaa, transparent);
            color: color($colors, lessOffWhite);
        }

        .restaurant-desc {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 2px 10px;
            font-family: Work;
            background: linear-gradient(transparent, #444);
            color: color($colors, lessOffWhite);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .map-icon {
        right: 5%;
    }
    
    .document-icon {
        left: 5%;
    }
    
    .website-icon, .document-icon, .map-icon {
        top: 21.5%;
    }

    .fab-md {
        background-color: color($colors, palletPrimary);
    }

    ion-item-divider {
        text-align: center;
    }

    .reg-divider {
        border-top: 1px solid #dedede;
    }

    .first-divider {
        padding-top: 5%;
    }

    .description {
        border-bottom: 1px solid #dedede;
        height: 40px;
        padding: 5px;
        text-align: center;
        color: color($colors, secondaryText);
    }

    .specials-header {
        height: 50px;
        background-color: color($colors, palletLight);
        text-align: center;
    }

    .menus {
        position: relative;
        min-height: 305px;
    }

    .action-buttons {
        height: 10%;
        position: relative;
        display: table;
        width: 100%;
        border-bottom: 1px solid color($colors, moreOffWhite);

        .btn-icon {
            font-size: 2rem;
            width: 25%;
        }

        .tab-text {
            display: block;
            margin-top: 4px;
            font-family: Work-Medium;
            font-size: 12px;
        }

        a {
            background-color: color($colors, lessOffWhite);
            width: 25%;
            text-decoration: none;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            margin-top: 4px;
            padding: 7px 0;
            color: color($colors, palletPrimary);
        }
    }

    .label, ion-item {
        margin: 0;
        padding: 0 !important;
    }

    ion-item.item-block {
        border-bottom: 1px solid color($colors, moreOffWhite);
    }
    
    .item-block:last-child {
        border-bottom: none;
    }

    div.list-header {
        font-family: Work-Black;
        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px 0;
        background-color: color($colors, lessOffWhite);
        color: color($colors, darkGray);
    }

    div.list-header span {
        display: inline-block;
        position: relative;
        padding-top: 2px;
    }

    .item-inner {
        background-color: color($colors, lessOffWhite);
    }

    div.special {
        position: relative;
        
        .special-img {
            float: left;
        }

        .special-content {
            margin-left: 5%;               
        }

        ion-label {
            margin: 8px 8px 8px 0;
        }

        .item-container {
            max-width: 84% !important;
            overflow: hidden;
            text-overflow: ellipsis;
            float: left;
            padding-right: 6px;
        }

        .item-name {
            font-family: Work-Medium;
            color: color($colors, dark);
            font-size: 1.3rem;
        }

        .middot {
            padding: 2px;
        }

        .price {
            font-family: Work;
            font-size: 1.3rem;
        }
    }
    
    .no-results-container {
        height: 50%;
        width: 100%;
        text-align: center;
        top: 48%;
        position: absolute;
        color: gray;

        span {
            font-size: 20px;
            font-weight: bolder;
            display: block;
        }

        ion-icon {
            font-size: 50px;
        }
    }

    .no-specials-container {
        height: 50%;
        width: 100%;
        text-align: center;
        top: 48%;
        position: absolute;
        color: gray;

        span {
            font-size: 20px;
            display: block;
        }

        ion-icon {
            font-size: 50px;
        }
    }

}
