// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, noto sans fonts, galada, and montserrat
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

@font-face {
  font-family: 'Galada';
  src: url('../assets/fonts/Galada-Regular.ttf');
  font-weight: 200
}

@font-face {
  font-family: 'Work';
  src: url('../assets/fonts/WorkSans-Regular.ttf');
  font-weight: 400
}

@font-face {
  font-family: 'Work-ExtraL';
  src: url('../assets/fonts/WorkSans-ExtraLight.ttf');
  font-weight: 200
}

@font-face {
  font-family: 'Work-Light';
  src: url('../assets/fonts/WorkSans-Light.ttf');
  font-weight: 300
}

@font-face {
  font-family: 'Work-Thin';
  src: url('../assets/fonts/WorkSans-Thin.ttf');
  font-weight: 300
}

@font-face {
  font-family: 'Work-Medium';
  src: url('../assets/fonts/WorkSans-Medium.ttf');
  font-weight: 500
}

@font-face {
  font-family: 'Work-Semi';
  src: url('../assets/fonts/WorkSans-SemiBold.ttf');
  font-weight: 600
}

@font-face {
  font-family: 'Work-Bold';
  src: url('../assets/fonts/WorkSans-Bold.ttf');
  font-weight: 700
}

@font-face {
  font-family: 'Work-ExtraBold';
  src: url('../assets/fonts/WorkSans-ExtraBold.ttf');
  font-weight: 800
}

@font-face {
  font-family: 'Work-Black';
  src: url('../assets/fonts/WorkSans-Black.ttf');
  font-weight: 900
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:        #f2f0ed,
  secondary:      #32db64,
  danger:         #f53d3d,
  light:          #f4f4f4,
  dark:           #171123,
  palletPrimary:  #E2340D,
  palletLight:    #E94F37,
  palletDark:     #A02F20,
  lightHighlight: #fde7d5,
  accentPrimary:  #3581B8,
  accentLight:    #45A8EF,
  darkGray:     #403D39,
  moreOffWhite:   #e6e8e6,
  offWhite:       #f4f1f1,
  leastOffWhite: #fdfdfd,
  lessOffWhite:   #fefefe,
  secondaryText:  #858585,
  nonHighlight:   #ada8a8
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$toggle-ios-background-color-on: color($colors, palletDark);
$spinner-ios-dots-color: color($colors, palletPrimary);
$radio-ios-color-on: color($colors, palletDark);
$searchbar-ios-input-background-color: color($colors, lightHighlight);
$searchbar-ios-input-search-icon-color: color($colors, nonHighlight);




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toggle-md-track-background-color-on: color($colors, palletDark);
$spinner-md-dots-color: color($colors, palletPrimary);
$radio-md-color-on: color($colors, palletDark);
$searchbar-md-input-search-icon-color: color($colors, nonHighlight);




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$toggle-wp-track-background-color-on: color($colors, palletDark);
$spinner-wp-dots-color: color($colors, palletPrimary);
$radio-wp-color-on: color($colors, palletDark);




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
