page-splash {
    .scroll-content {
        overflow: hidden;
    }

    .splash-background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .error-msg {
        background: none;
        margin: 0;
        position: absolute;
        bottom: 30%;
        left: 60%;
        margin-right: 0%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 50px;
        padding: 2px;
        overflow: hidden;
        width: 55%;
        color: gray;

        span {
            display: block;
            font-size: 17px;
            font-weight: bolder;
            text-align: center;
        }
    }

    @media screen and (min-width: 360px) {
        .error-msg {
            bottom: 28%;
            left: 54%;

            span {
                font-size: 15px;
            }
        }
    }

    @media screen and (min-width: 412px) {
        .error-msg {
            bottom: 26%;
            left: 53%;
        }
    }
}






