<ion-content>
  <div class="splash-background" 
  [ngStyle]="{
    'background': 'url('+ backgroundUrl +')',
    'background-size': '100% 100%'}">
    <ng-container  *ngIf="!server502 && !server404; else error">
    </ng-container>
    <ng-template #error>
      <ng-container *ngIf="server502">
        <div class="error-msg">
          <span>Server Offline</span>
          <span>Please Be Patient</span>
        </div>
      </ng-container>
      <ng-container *ngIf="server404">
          <div class="error-msg">Server Offline</div>
          <div class="error-msg">Please Be Patient</div>
      </ng-container>
    </ng-template>
  </div>
</ion-content>
