<ion-menu type="overlay" class="right-menu" side="left" [content]="mapcontent" id="mapmenu">
  <ng-container *ngIf="activeRestaurant">
    <ion-header>
      <ion-navbar color="offWhite">
        <ion-title>{{activeRestaurant.name}}</ion-title>
      </ion-navbar>
    </ion-header>
    <div class="restaurant-header"
      [ngStyle]="{'background-image': 'url(' + (activeRestaurant.banner_image != ''  ? activeRestaurant.banner_image : 'assets/images/banners/default.jpg') + ')'}">
    </div>
    <ion-fab (click)="restaurant(activeRestaurant.id)"  class="home-icon">
      <button class="restaurant-icon" ion-fab>
        <div class="svg-wrapper"></div>
      </button>
    </ion-fab>
    <ion-list class="details">
      <ion-item class="description">
        <!-- <ion-icon name="call" item-start color="palletLight"></ion-icon> -->
        <ng-container *ngIf="activeRestaurant.description && activeRestaurant.description != ''; else nodescription">
          <span class="description-body">
            {{activeRestaurant.description}}
          </span>
        </ng-container>
        <ng-template #nodescription>
            <span class="description-body">
              No Description
            </span>
        </ng-template>
      </ion-item>
      <ion-item class="phone">
          <ion-icon name="call" item-start color="palletLight"></ion-icon>
          <ng-container *ngIf="activeRestaurant.phone && activeRestaurant.phone != ''; else nophone">
            <a href="#" (click)="tele(activeRestaurant.id, activeRestaurant.phone)">
              <span class="phone-body">
                {{activeRestaurant.phone}}
              </span>
            </a>
          </ng-container>
          <ng-template #nophone>
            <span class="phone-body">
              N/A
            </span>
          </ng-template>
      </ion-item>
      <ion-item class="website">
          <ion-icon name="browsers" item-start color="palletLight"></ion-icon>
          <ng-container *ngIf="activeRestaurant.website && activeRestaurant.website != ''; else nowebsite">
            <a href="#" (click)="site(activeRestaurant.id, activeRestaurant.website)">
                <span class="website-body">
                    {{activeRestaurant.website}}
                </span>
            </a>
          </ng-container>
          <ng-template #nowebsite>
            <span class="website-body">
              N/A
            </span>
          </ng-template>
      </ion-item>
      <ion-item class="address">
          <ion-icon name="pin" item-start color="palletLight"></ion-icon>
          <a href="#" (click)="dirs(activeRestaurant.id, activeRestaurant.address + ' ' + activeRestaurant.address2 + ' ' + activeRestaurant.city + ' ' + activeRestaurant.state + ', ' + activeRestaurant.zip)">
            <span class="address-1-body">
              {{activeRestaurant.address}}
            </span>
            <span class="address-2-body">
              {{activeRestaurant.address2}}
            </span>
            <span class="address-3-body">
              {{activeRestaurant.city}} {{activeRestaurant.state}}, {{activeRestaurant.zip}}
            </span>
          </a>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #loadingactive>
    Loading Restaurant
  </ng-template>
</ion-menu>

<ion-header no-border>
    <ion-navbar color="offWhite">
        <f-header></f-header>
    </ion-navbar>
</ion-header>

<ion-content class="outer-content" #mapcontent>
  <div #map id="map" (click)="toggleExpand()"></div>
  <div #desc id="desc" [ngClass]="{'expanded': expanded, 'collapsed': !expanded}" (click)="toggleExpand()"></div>
</ion-content>
