@import "../../../theme/variables";

page-map {
    .scroll-content {
        padding: 0;
    }

    #map {
        position: relative;
        min-width: 100px;
        min-height: 100px;
        width: 100%;
        height: 100%;
    }

    #desc {
        position: absolute;
        z-index: 99;
        width: 100%;
        bottom: 0;
        background-color: antiquewhite;
    }
    
    #desc.collapsed {
        height: 0%;
    }

    #desc.expanded {
        height: 50%;
    }

    .expanded, .collapsed {
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }

    #name {
        font-size: 20px;
        color: color($colors, darkGray);
    }

    .desc-title {
        height: 20%;
        text-align: center;
        filter: brightness(50%);
    }

    ion-menu {

        .description-body {
            font-family: Work-Medium;
        }

        img {
            width: 100%;
        }

        ion-header {
            position: relative;
        }
    
        .restaurant-header {
            height: 25%;
            filter: brightness(50%);
            background-size: cover;
        }

        .map-icon {
            right: 5%;
        }
        
        .document-icon {
            left: 5%;
        }
        
        .website-icon, .document-icon, .map-icon {
            top: 21.5%;
        }
    
        .fab {
            background-color: color($colors, accentLight);
        }
    
        ion-item-divider {
            text-align: center;
        }
    
        .reg-divider {
            border-top: 1px solid #dedede;
        }
    
        .first-divider {
            padding-top: 5%;
        }
    
        .details {
            position: relative;
            height: 75%;
            overflow-y: scroll;
            max-height: 380px;

            a span {
                color: color($colors, palletDark);
            }
        }
    
        .home-icon {
            top: calc(25% - 28px);
            right: 5%;

            .svg-wrapper {
                background: url('../assets/images/icons/nav/home_replace.svg') no-repeat;
                fill: black;
                stroke: black;
                width: 30px;
                height: 30px;
            }
        }

        .address,
        .website,
        .phone {
            span {
                display: block;
                text-decoration: none;
            }
        }
    }
}
