@import "../theme/variables";

body {
  margin-top: constant(safe-area-inset-top);
  margin-top: env(safe-area-inset-top);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.toolbar {
  background: color($colors, lessOffWhite);

  .toolbar-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
}

ion-content {
  background-color: color($colors, lessOffWhite) !important;
}

.list-md .item-block .item-inner, .list-ios .item-block .item-inner {
  border: none;
}

.toolbar {
  min-height: 5rem;
}

.light-item {
  background-color: color($colors, lessOffWhite);
}

.section-header {
  background-color: color($colors, palletDark);
  color: white;
}

.item-divider-ios {
  border-bottom: #dedede 1px solid;
}

ion-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.alert-button, .alert-radio[aria-checked=true] .alert-radio-icon, .alert-radio[aria-checked=true] .alert-radio-label {
  color: color($colors, palletDark) !important;
  border-color: color($colors, palletDark) !important;
  
}

.alert-radio[aria-checked=true] span div div {
  background-color: color($colors, palletDark) !important;
}

/*
 * All loading stuff
 */
 ion-loading {
  .loading-wrapper {
    background: rgba(0, 0, 0, 0) !important;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.0) !important;
    -webkit-box-shadow: 5px 10px rgba(0, 0, 0, 0.0) !important;
  }

  ion-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  /**
   * Splash SVG
   */

   .loading-wrapper, .loading-content, svg.logo {
    width: 100% !important;
    max-width: 100% !important;
   }

   svg.logo {
      height: 100px;
      padding: 2px;
      overflow: hidden;
   }

  .burger {
    fill: none;
    stroke: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: slidingBurger 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .taco {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingTaco 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .sushi {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingSushi 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .donut {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingDonut 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @keyframes slidingBurger {
    0% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    15% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    25% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingTaco {
    25% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    40% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    50% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingSushi {
    50% {transform: translateX(1000px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    65% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    75% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingDonut {
    75% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    90% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    100% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }
 }

.ion-md-trendingicon {
  content: url('../assets/images/icons/tabs/trending/trending-md-5pt.svg');
  height: 25px;
}


.ion-ios-trendingicon-outline {
  content: url('../assets/images/icons/tabs/trending/trending-ios-5pt.svg');
  height: 25px !important;
  margin-bottom: 5px !important;
}

.tab-button[aria-selected=true] .ion-md-trendingicon {
  content: url('../assets/images/icons/tabs/trending/trending-md-highlighted-5pt.svg');
  height: 25px;
}

.tab-button[aria-selected=true] .ion-ios-trendingicon {
  content: url('../assets/images/icons/tabs/trending/trending-md-highlighted-5pt.svg');
  height: 25px !important;
  margin-bottom: 5px !important;
}

.loading-svg {
  position: absolute;
  width: 100%;
  height: 100%;

  svg.logo {
      background: none;
      margin: 0;
      position: absolute;
      bottom: 50%;
      left: 20rem;
      margin-right: -50%;
      transform: translate(-45%, -76%);
      height: 100px;
      padding: 2px;
      overflow: hidden;
      width: 100%;
   }

  .burger {
    fill: none;
    stroke: none;
    stroke-width: 0;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    animation: slidingBurger 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .taco {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingTaco 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .sushi {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingSushi 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .donut {
      fill: none;
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      animation: slidingDonut 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @keyframes slidingBurger {
    0% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    15% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    25% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingTaco {
    25% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    40% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    50% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingSushi {
    50% {transform: translateX(1000px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    65% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    75% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }

  @keyframes slidingDonut {
    75% {transform: translateX(1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
    90% {transform: translateX(0px); opacity: 1; stroke: color($colors, palletPrimary); stroke-width: 8px;}
    100% {transform: translateX(-1000px); opacity: 0; stroke: color($colors, palletPrimary); stroke-width: 0px;}
  }
}

ion-menu {
  ion-title {
      width: 100%;
      height: 100%;
      padding: 0 !important;

      .toolbar-title {
          margin: 0 auto;
          font-family: Work-Semi;
          width: auto ;
      }
  }
}

/* killing the display of the native tabs */
.tabs {
  .tabbar {
    display: none;
  }
}

.back-button {
  z-index: 999;
}

.platform-ios {

  .toolbar {
    min-height: 5rem !important;
    height: 5rem;
  }
  
  ion-header {
    padding-top: 5px !important;
    background-color: color($colors, offWhite);
  }

  .back-button-text {
    display: none;
  }
}