<ion-menu class="right-menu" side="right" [content]="specialscontent" type="overlay" id="specialsmenu">
  <ion-header>
    <ion-navbar>
      <ion-title>Filters</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header>
          Distance
      </ion-list-header>
      <ion-list radio-group [(ngModel)]="distance" (ngModelChange)="changeDistance(event$)">
        <ion-item>
          <ion-label>1 mi</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>5 mi</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>10 mi</ion-label>
          <ion-radio value="10"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>20 mi</ion-label>
          <ion-radio value="20"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>30 mi</ion-label>
          <ion-radio value="30"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item></ion-item>
      <ion-list-header>
        Group By
      </ion-list-header>
      <ion-list radio-group [(ngModel)]="groupBy" (ngModelChange)="changeGroupBy(event$)">
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-radio value="category"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Restaurant</ion-label>
            <ion-radio value="restaurant"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Special</ion-label>
            <ion-radio value="special"></ion-radio>
          </ion-item>
        </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header no-border>
    <ion-navbar color="offWhite">
        <f-header></f-header>
    </ion-navbar>
</ion-header>


<ion-content  class="outer-content" #specialscontent>
  <div class="options-container">
    <ion-searchbar class="search-bar" [(ngModel)]="searchTerm" (search)="search()"></ion-searchbar>
    <a class="options" menuToggle href="#" [ngClass]="{'hide': searchTerm.length != 0 }">
      <ion-icon class="options" name="options"></ion-icon>
    </a>
  </div>
  <div class="filters-list" [ngClass]="{'hide': hideGroupByBtn && hideDistanceBtn }">
    <div class="filters-list-title-container">
      <span class="filters-list-title">Filters: </span>
    </div>
    <button class="filter-btn filter-distance-btn" (click)="disableDistanceFilterBtn()" 
    [ngClass]="{'hide': hideDistanceBtn }" ion-button round outline>
      {{distance}} mi 
      <button class="filter-btn-close" ion-button round>x</button>
    </button>
    <button class="filter-btn filter-group-by-btn" (click)="disableGroupByFilterBtn()" 
    [ngClass]="{'hide': hideGroupByBtn }" ion-button round outline>
      {{groupBy}} 
      <button class="filter-btn-close" ion-button round>x</button>
    </button>
  </div>
  <ng-container *ngIf="specialGroupsList | async; let list; else loading">
    <!-- If we have have results, print them, otherwise go to #noresults -->
    <ng-container *ngIf="list.length > 0; else noresults">
      <!-- If we have a 502 or 404 or whatever, the it will return as a JSON that we handle here -->
      <ng-container *ngIf="list.length == 1 && list[0].specials.length == 0; else specialslist">
        <ng-container *ngIf="list[0].title == '502'">
          <!-- If we have a 502 handle it here -->
          <div class="start-searching-container">
            <span>Out Of Service ... :/</span>
          </div>
        </ng-container>
        <!-- If we have a 404 handle it here -->
        <ng-container *ngIf="list[0].title == '404'">
            <div class="start-searching-container">
              <span>404, Not Found ... :/</span>
            </div>
          </ng-container>
      </ng-container>
      <ng-template #specialslist>
        <ng-container *ngFor="let group of list; let oddSection = odd">
          <ion-card class="list-header">
              <ion-item class="section-header light-item" [ngClass]="{'light-category-header': !oddSection}">
                  <span>
                      {{group.title}}
                  </span>
              </ion-item>
          </ion-card>
          <ion-card class="list">
              <ng-container *ngFor="let item of group.specials; let odd = odd">
                  <ion-item (click)="toGoRestaurant(item.restaurant_id)" [ngClass]="{'light-item': !odd}">
                      <span class="item-name">
                          {{item.title}}
                      </span>
                      <span class="price">
                          {{item.price}}
                      </span>
                  </ion-item>
              </ng-container>
          </ion-card>
        </ng-container>
      </ng-template>
    </ng-container>
    <ng-template #noresults>
      <ng-container *ngIf="!init; else startsearching">
        <div class="start-searching-container">
            <span>No results for: "{{searchedFor}}"</span>
        </div>
      </ng-container>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <ng-container *ngIf="!init; else startsearching">
      <div class="loading-svg" [innerHtml]="loadingSvg" ></div>
    </ng-container>
  </ng-template>
  <!-- This is the message for on initial page load -->
  <ng-template #startsearching>
    <div class="start-searching-container">
        <span>Happy Searching</span>
      <ion-icon name="happy"></ion-icon>
    </div>
  </ng-template>
</ion-content>

