@import "../../../theme/variables";

page-specials {

    .title-md {
        top: 0;
    }

    /* .filter-settings {
        
        padding: 0 10px;
        margin: 10px 0;
        width: 100%;
        background-color: color($colors, lessOffWhite);

        ion-icon {
            position: absolute;
        }

        .options {
            float: right;
            color: color($colors, palletPrimary);
            clear: left;
            position: relative;
        }
    } */

    .options-container {
        width: 100%;
        height: 62px;
        position: relative;

        .bar-buttons {
            top: 0;
        }

        .options {
            position: absolute;
            right: 15px;
            font-size: 20px;
            color: color($colors, palletPrimary);
        }

        .ion-md-options {
            top: 17px;
        }

        .ion-ios-options {
            top: 13px;
        }

        .options .hide {
            font-size: 0px;
        }
    }
    .filters-list {
        width: 100%;
        height: 55px;
        font-size: 18px;
        padding: 0 0 0 10px;
    }

    .filters-list-title-container {
        display: inline-block;
        height: 100%;
        padding: 17px 0 0 0;    
    }

    .filter-btn {
        border-color: color($colors, palletDark);
        color: color($colors, palletDark);
        padding: 0 .2rem 0 2.6rem;
        height: 40px;
        margin-top: -10px;

        .filter-btn-close {
            background-color: color($colors, palletDark);
            color: white; /* color($colors, palletDark); */
            padding: 1.5rem 1.5rem;
            border-radius: 32px;
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .list {

        .light-category-header {
            background-color: color($colors, palletLight);
        }

        .price {
            right: 5%;
            position: absolute;
        }
    }

    .search-button {
        margin-left: 10px;
        width: calc(100% - 20px);
        background-color: color($colors, palletPrimary);
        color: white;
    }

    ion-menu {

        ion-content {
            background-color: white !important;
        }
        ion-label {
            color: #000 !important;
        }

        .asc-desc {
            .toggle-icon {
                background-color: color($colors, palletDark) !important;
            }
        }

        .toggle-inner {
            background-color: color($colors, palletLight) !important;
        }
    }

    .start-searching-container {
        height: 50%;
        width: 100%;
        text-align: center;
        top: 48%;
        position: absolute;
        color: gray;

        span {
            font-size: 20px;
            font-weight: bolder;
            display: block;
        }

        ion-icon {
            font-size: 50px;
        }
    }

    .section-header {
        text-align: center;
        font-size: 20px;
    }


    .loading-svg {
        position: relative;
        width: 100%;
        height: 100%;

        svg.logo {
            background: none;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-45%, -76%);
            height: 100px;
            padding: 2px;
            overflow: hidden;
            width: 100%;
         }
      
        .burger {
          fill: none;
          stroke: none;
          stroke-width: 0;
          stroke-linecap: round;
          stroke-miterlimit: 10;
          animation: slidingBurger 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      
        .taco {
            fill: none;
            stroke: none;
            stroke-width: 0;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            animation: slidingTaco 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      
        .sushi {
            fill: none;
            stroke: none;
            stroke-width: 0;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            animation: slidingSushi 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      
        .donut {
            fill: none;
            stroke: none;
            stroke-width: 0;
            stroke-linecap: round;
            stroke-miterlimit: 10;
            animation: slidingDonut 5s normal infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
      
        @keyframes slidingBurger {
          0% {transform: translateX(1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
          15% {transform: translateX(0px); opacity: 1; stroke: #EE8146; stroke-width: 8px;}
          25% {transform: translateX(-1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
        }
      
        @keyframes slidingTaco {
          25% {transform: translateX(1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
          40% {transform: translateX(0px); opacity: 1; stroke: #EE8146; stroke-width: 8px;}
          50% {transform: translateX(-1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
        }
      
        @keyframes slidingSushi {
          50% {transform: translateX(1000px); opacity: 1; stroke: #EE8146; stroke-width: 0px;}
          65% {transform: translateX(0px); opacity: 1; stroke: #EE8146; stroke-width: 8px;}
          75% {transform: translateX(-1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
        }
      
        @keyframes slidingDonut {
          75% {transform: translateX(1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
          90% {transform: translateX(0px); opacity: 1; stroke: #EE8146; stroke-width: 8px;}
          100% {transform: translateX(-1000px); opacity: 0; stroke: #EE8146; stroke-width: 0px;}
        }
    }

    

}
