<ion-menu class="right-menu" side="right" [content]="browsecontent" type="overlay" id="browsemenu">
  <ion-header>
    <ion-navbar>
      <ion-title>Sorting Options</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content class="outer-content">
    <ion-list>
      <ion-list-header>
          Distance
      </ion-list-header>
      <ion-list radio-group (ngModelChange)="distanceChange($event)" [(ngModel)]="distance">
        <ion-item>
          <ion-label>1 mi</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>5 mi</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>10 mi</ion-label>
          <ion-radio value="10"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>20 mi</ion-label>
          <ion-radio value="20"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>30 mi</ion-label>
          <ion-radio value="30"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item></ion-item>
      <ion-list-header>
        Sort
      </ion-list-header>
      <ion-list radio-group (ngModelChange)="sortByChange($event)" [(ngModel)]="sortBy">
        <ion-item>
          <ion-icon ios="logo-usd" md="logo-usd" item-start color="palletLight"></ion-icon>
          <ion-label>Low To High</ion-label>
          <ion-radio value="Low To High"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon ios="logo-usd" md="logo-usd" item-start color="palletLight"></ion-icon>
          <ion-label>High To Low</ion-label>
          <ion-radio value="High To Low"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon name="navigate" item-start color="palletLight"></ion-icon>
          <ion-label>Proximity</ion-label>
          <ion-radio value="Proximity"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item></ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header no-border>
  <ion-navbar class="frosted-navbar">
    <f-header></f-header>
  </ion-navbar>
  <div class="options-container">
    <ion-searchbar placeholder="Filter Restaurants" [(ngModel)]="searchTermBinding" (ngModelChange)="filterItems($event)" 
      [debounce]="500">
    </ion-searchbar>
    <a class="options" menuToggle href="#" [ngClass]="{'hide': searchTerm.length != 0 }">
      <ion-icon class="options" name="options"></ion-icon>
    </a>
  </div>
</ion-header>

<ion-content id="#outer-content" class="outer-content" fullscreen #browsecontent>
  <div class="filters-list" [ngClass]="{'hide': hideSortBtn && hideDistanceBtn }">
    <div class="filters-list-title-container">
      <span class="filters-list-title">Filters: </span>
    </div>
    <button class="filter-btn filter-distance-btn" (click)="disableDistanceFilterBtn()" 
    [ngClass]="{'hide': hideDistanceBtn }" ion-button round outline>
      {{distance}} mi 
      <button class="filter-btn-close" ion-button round>x</button>
    </button>
    <button class="filter-btn filter-sort-btn" (click)="disableSortFilterBtn()" 
    [ngClass]="{'hide': hideSortBtn }" ion-button round outline>
      {{sortBy}} 
      <button class="filter-btn-close" ion-button round>x</button>
    </button>
  </div>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="restaurants$ | async | browseSort:sortBy:distance:searchTerm; let restaurants;">
    <ion-list>
      <ng-container *ngIf="restaurants.length > 0; else pleasewait">
        <ion-card *ngFor="let card of restaurants" tappable>
          <div class="card-body">
              <div class="background" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(' + (card.banner_image != ''  ? card.banner_image : 'assets/images/banners/default.jpg') + ')'}"
                [ngClass]="{'grayscale': card.specials.length == 0}"></div>
              <div [ngClass]="{'active': card.id == selectedId}" class="gradient" (click)="selectCard(card.id)"></div>
              <div class="card-title">{{card.name}}</div>
              <div class="card-type">{{card.description}}</div>
              <div class="card-dollars">
                <img src="assets/images/dollar_sign_{{card.expense_rating}}.png"/>
              </div>
              <div class="card-distance">{{card.distance | distancePipe}} mi</div>
              <ion-fab (click)="restaurant(card.id)" class="restaurant-fab"
                [ngClass]="{'collapsed': card.id != selectedId, 'expanded': card.id == selectedId }">
                <button class="restaurant-icon" ion-fab>
                  <div class="svg-wrapper"></div>
                </button>
              </ion-fab>
          </div>
          <ng-container *ngIf="card.specials; let specials">
            <div [ngClass]="{'collapsed': card.id != selectedId, 'expanded': card.id == selectedId, 'expanded-plus': specials.length > 4 }">
              <ng-container *ngIf="specials.length > 0; else nospecials">
                <ion-list class="specials-list">
                  <ng-container *ngFor="let special of specials; let odd = odd; let i= index;">
                    <ng-container *ngIf="i < 4">
                      <ion-item>
                        <div class="special" [ngClass]="{'light-item': !odd, 'first-item': i == 0}">
                          <span class="special-img"></span>
                          <div class="special-content">
                              <span class="item-name">
                                  {{special.title}}
                              </span>
                              <span class="middot">&#8226;</span>
                              <span class="price">
                                  {{special.value}}
                              </span>
                          </div>
                        </div>
                      </ion-item>
                    </ng-container>
                    <ng-container *ngIf="i == 4">
                      <ion-item class="view-all-specials">
                          <span (click)="restaurant(card.id)">
                              View All Specials
                          </span>
                      </ion-item>
                    </ng-container>
                  </ng-container>
                </ion-list>
              </ng-container>
              <ng-template #nospecials>
                <div class="no-specials-container">
                  <span>No Specials</span>
                  <span>To Display</span>
                </div>
              </ng-template>
            </div>
          </ng-container>
        </ion-card>
      </ng-container>
      <ng-template #pleasewait>
        <ng-container *ngIf="loading$ | async; let loading; else noresults">
          <ng-container *ngIf="loading; else noresults">
              <div class="loading-svg" [innerHtml]="loadingSvg" ></div>
          </ng-container>
        </ng-container>
        <ng-template #noresults>
          <ng-container *ngIf="restaurants.length == 0">
            <ng-container *ngIf="searchTerm == ''">
              <div class="no-results-container">
                <span>No Results</span>
              </div>
            </ng-container>
            <ng-container *ngIf="searchTerm != ''">
              <div class="no-results-container">
                <span>No Matches</span>
              </div>
            </ng-container>
          </ng-container>
        </ng-template>
      </ng-template>
    </ion-list>
  </ng-container>
</ion-content>
