@import "../../../theme/variables";

page-browse {

    ion-header {
        backdrop-filter: blur(8px) !important;
    }

    ion-navbar {

        .toolbar-background {
            background: rgba(242, 240, 237, 0.7) !important;
            box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
        }

        .toolbar-background-md {
            background: rgba(242, 240, 237, 0.9) !important;
        }
    }

    .header-searchbar {
        .searchbar-input {
            background: rgba(0, 0, 0, 0) !important;
        }
    }

    .header-searchbar.searchbar-has-focus {
        .searchbar-input {
            background: rgba(242, 240, 237, 1) !important;
        }
    }

    ion-content.outer-content > div.scroll-content {
        margin-bottom: 0px;
        height: 100%;
    }
    
    ion-card {
        position: relative;
        width: 100% !important;
        margin: 2px 0 2px 0 !important;
        border-radius: 0px !important;
        box-shadow: 0 0 0em 0em #4a4a4a !important;

        .gradient{
            position:absolute;
            left:0px;
            top:0px;
            z-index:5;
            height:100%;
            width:100%;
        }

        .gradient.active{
            box-shadow: inset 0 0 1em 1em rgba(39, 39, 39, .5);
        }
        
        div.expanded {
            height: 197px;
        }
        div.expanded-plus {
            height: 238px;
        }
        div.collapsed {
            height: 0px;
        }
    }

    .restaurant-icon .svg-wrapper {
        background: url('../assets/images/icons/nav/spyglass.svg') no-repeat;
    }

    .card-body {
        position: relative;
        width: 100%;
        height: 160px;
        background-size: cover;
    }
    
    .card-body:after {
        background: rgba(0,0,0,0.1);
    }

    .background {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: 100%;
    }

    img {
        filter: brightness(50%);
    }

    .filters-list {
        width: 100%;
        height: 55px;
        font-size: 18px;
        padding: 0 0 0 10px;
    }

    .filters-list-title-container {
        display: inline-block;
        height: 100%;
        padding: 17px 0 0 0;    
    }

    .filter-btn {
        border-color: color($colors, palletDark);
        color: color($colors, palletDark);
        padding: 0 .2rem 0 2.6rem;
        height: 40px;
        margin-top: -10px;

        .filter-btn-close {
            background-color: color($colors, palletDark);
            color: white; /* color($colors, palletDark); */
            padding: 1.5rem 1.5rem;
            border-radius: 32px;
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .no-specials {
        font-family: Work-Light;
        color: white;
        left: 2%;
        position: absolute;
        top: 2%;
        font-size: 15px;
    }

    .card-title {
        font-family: Work-Bold;
        position: absolute;
        top: 60%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        left: 2%;
        text-align: left;
    }

    .card-type {
        font-family: Work-Light;
        font-size: 1.0em;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #fff;
        left: 2%;
        text-align: left;
        width: 80%;
    }

    .card-dollars {
        font-size: 1.0em;
        position: absolute;
        top: 82%;
        width: 100%;
        color: #fff;
        text-align: right;
        
        img {
            width: 12%;
            float: right;
            margin-right: 2%;
            filter: brightness(100%);
        }
    }
    .card-dollars .bold {
        font-weight: bolder;
        margin-right: -2px
    }

    .card-distance {
        font-family: Work;
        font-size: 1.0em;
        position: absolute;
        top: 70%;
        width: 100%;
        color: #fff;
        right: 2%;
        text-align: right;
    }

    .list.list-md.expanded, .list.list-md.expanded-plus, .list.list-ios.expanded, .list.list-ios.expanded-plus {
        background-color: color($colors, offWhite);
        position: relative;
        bottom: 0px;
        overflow-y: scroll;
    }

    .list.list-md.expanded, .list.list-ios.expanded {
        max-height: 200px;
    }
    
    .list.list-md.expanded-plus, .list.list-ios.expanded-plus {
        max-height: 220px;
    }

    .expanded, .collapsed {
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }

    .gradient {
        -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s;
        -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s;
        -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s;
        -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s;
        transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.05s;
    }

    .no-results-container {
        height: 50%;
        width: 100%;
        text-align: center;
        top: 48%;
        position: absolute;
        color: gray;

        span {
            font-size: 20px;
            font-weight: bolder;
            display: block;
        }

        ion-icon {
            font-size: 50px;
        }
    }

    .light-item {
        background-color: color($colors, lessOffWhite);
    }
    
    .options-container {
        width: 100%;
        position: relative;

        .options {
            position: absolute;
            top: 10px;
            right: 15px;
            font-size: 20px;
            color: color($colors, palletPrimary);
            width: 15%;
            height: 70%;
            right: 10px;
            padding-right: 20px;
        }

        .icon-ios.ion-ios-options {
            top: 3px;
        }

        .options .hide {
            font-size: 0px;
        }
    }

    .specials-list {
        ion-item, ion-item .item-inner, ion-label {
            padding: 0 !important;
            margin: 0 !important;
        }
    }

    div.special {
        height: 60px;
        position: relative;
        
        .special-img {
            float: left;
            width: 55px;
            margin-left: 6px;
            padding: 2px 0 0 0;
            content: url('../assets/images/icons/item/burger_browse.svg');
        }

        .special-content {
            padding: 17px 0 15px 70px;               
        }

        ion-label {
            margin: 8px 8px 8px 0;
        }

        .item-name {
            font-family: Work-Semi;
            color: color($colors, dark)
        }

        .middot {
            padding: 2px;
        }

        .price {
            font-family: Work;
            font-size: 13px;
        }
    }

    .restaurant-fab {
        position: absolute;
        top: -70px;
        right: 10px;
        z-index: 6;

        .svg-wrapper {
            background: url('../assets/images/icons/nav/home_replace.svg') no-repeat;
            fill: color($colors, offWhite);
            stroke: color($colors, offWhite);
            width: 30px;
            height: 30px;
        }
    }

    .restaurant-fab.expanded {
        top: 10px;
    }

    .has-refresher > .scroll-content {
        border: none;
    }

    .fab {
        background-color: color($colors, accentLight);
    }

    ion-item.first-item {
        padding-top: 5%;
    }

    ion-menu {

        ion-content {
            background-color: white !important;
        }
        ion-label {
            color: #000 !important;
        }

        .asc-desc {
            .toggle-icon {
                background-color: color($colors, palletDark) !important;
            }
        }

        .toggle-inner {
            background-color: color($colors, palletLight) !important;
        }
    }

    .no-specials-container {
        text-align: center;
        padding: 21% 0 0 0;
        color: color($colors, secondaryText);

        span {
            display: block;
            font-size: 20px;
        }
    }

    .view-all-specials {
        text-align: center;
        background-color: color($colors, lightHighlight);
    }


    .grayscale {
        filter: grayscale(100%);
    }

}

.platform-ios {
    .card-type {
        top: 78%;
    }
}